* {
    margin: 0;
    padding: 0;
}
input {
    /*-webkit-appearance: none!important;*/
    border: 1px solid black;
    height: 25px;
}
.ant-picker-range  {
    height: 25px!important;
}

.yourOd {
    margin-top: 20px;
}
.myBut {
    margin-top: 20px;
}
.myBut Button {
    margin-left: 45px;
}

.ant-steps-item-title::after {
    background-color: red!important;
}
.stateCss Button {
    background-color: rgb(215,215,215);
    margin-left: 10px;
}
